<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Delivery food</title>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>
<h1>Редактирование анкеты:
    <span th:text="${questionnaire.name}"></span>
</h1>

<form method="post" action="/update-questionnaire" th:object="${questionnaire}">
    <input type="hidden" th:field="*{id}" >
    <label for = "name">Введите название анкеты</label>
    <input type="text" th:field="*{name}" th:errorclass="invalid-input" id = "name">
    <button>Обновить</button>
</form>



</body>
</html>

