<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Delivery food</title>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>
<h1>Анкета:  <span th:text = "${questionnaire.name}"> </span> </h1>
<h2>Пользователь:  <span th:text = "${user.name}"> </span> </h2>
<form method="post" action="/save-results">

<table class="content-table", sortable="true">
    <thead>
    <tr>
        <th>Вопрос</th>
        <th>Ответ</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" question: ${questions}">
        <td th:text = "${question.name}">
            <input type="hidden" th:name="questionIdFront" th:value="${question.id}">
        </td>
        <td>
            <ul  th:each="answer : ${question.answersDto}">
                <li>
                   <input type="checkbox" th:name="answer_ + ${answer.id}" th:value="${answer.id}" id="answer">
                   <label for="answer"> <span th:text="${answer.name}"></span></label>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
    <button>Отправить ответы</button>
</form>
</body>
</html>

