<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Delivery food</title>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>
<h1>Анкета:  <span th:text = "${question.questionnaireName}"> </span> </h1>
<h2 th:text = "${question.id == null} ? 'Добавление нового вопроса' : 'Редактирование вопроса' "> </h2>

<form method="post" action="/save-or-update-question" th:object="${question}">
    <label for="name">Введите название вопроса</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="count">Введите количество ответов для вопроса</label>
    <input type="text" th:field="*{countAnswer}" id="count">
    <button>Добавить ответы для вопроса</button>

    <input type="hidden"  th:field = "*{questionnaireId}">
    <input type="hidden"  th:field = "*{questionnaireId}">

</form>

</body>
</html>

