<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Мини анкетная ситема</title>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>
<div th:insert="~{fragments/header :: header}" ></div>

<div sec:authorize="hasAuthority('developers:write')">
<a th:href="@{'/all-results/'}">Результы анкетерования пользователей</a>
</div>

<h1>Все анкеты</h1>

<table class="content-table", sortable="true">
    <thead>
    <tr>
        <th>Название анкеты</th>
        <th>Просмотр</th>
        <th>Заполнить</th>
        <div sec:authorize="hasAuthority('developers:write')">
        <th>Редактировать</th>
        <th>Удалить</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionnaire : ${questionnaires}">
        <td th:text = "${questionnaire.name}"></td>
        <td><a th:href="@{'/questionnaire/' + ${questionnaire.id}}">Просмотр</a></td>
        <td><a th:href="@{'/fill-questionnaire/' + ${questionnaire.id}}">Заполнить</a></td>
        <div sec:authorize="hasAuthority('developers:write')">
        <td><a th:href="@{'/edit-questionnaire/' + ${questionnaire.id}}">Редактировать</a></td>
        <td><a th:href="@{'/delete-questionnaire/' + ${questionnaire.id}}">Удалить</a></td>
        </div>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAuthority('developers:write')">
<form method="get" action="/new-questionnaire">
    <button>Создать анкету</button>
</form>
</div>
</body>
</html>

