<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Delivery food</title>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>
<a th:href="@{'/all-results/'}">Результы анкетерования</a>

<h1>Все анкеты</h1>

<form method="get" action="/new-questionnaire">
    <button>Создать анкету</button>
</form>

<table class="content-table", sortable="true">
    <thead>
    <tr>
        <th>№</th>
        <th>Название анкеты</th>
        <th>Просмотр</th>
        <th>Заполнить</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionnaire : ${questionnaires}">

        <td th:text = "${questionnaire.id}"></td>
        <td th:text = "${questionnaire.name}"></td>
        <td><a th:href="@{'/questionnaire/' + ${questionnaire.id}}">Просмотр</a></td>
        <td>Заполнить</td>
        <td><a th:href="@{'/edit-questionnaire/' + ${questionnaire.id}}">Редактировать</a></td>
        <td><a th:href="@{'/delete-questionnaire/' + ${questionnaire.id}}">Удалить</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>

