<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Мини анкетная ситема</title>
    <link rel="stylesheet"  href="/css/test.css"/>
</head>
<body>
<nav class='animated flipInX'>
    <ul>
        <li>
            <a href='#'>
                <div class='fa fa-home'></div>
            </a>
        </li>
        <li>
            <a href='#'>
                About
            </a>
        </li>
        <li class='sub-menu'>
            <a href='#'>
                Products
                <i class='fa fa-angle-down'></i>
            </a>
            <ul>
                <li>
                    <a href='#'>
                        Product Item
                    </a>
                </li>
                <li>
                    <a href='#'>
                        Product Item
                    </a>
                </li>
                <li>
                    <a href='#'>
                        Product Item
                    </a>
                </li>
            </ul>
        </li>
        <li class='sub-menu'>
            <a href='#'>
                Services
                <i class='fa fa-angle-down'></i>
            </a>
            <ul>
                <li>
                    <a href='#'>
                        Product Item
                    </a>
                </li>
                <li>
                    <a href='#'>
                        Product Item
                    </a>
                </li>
                <li>
                    <a href='#'>
                        Product Item
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href='#'>
                Contact Us
            </a>
        </li>
    </ul>
</nav>



</body>
</html>

